* {
  padding: 0 0 0 0;
}
.index {
  background-image: url("body background.jpeg");
}
.main-menu {
  display: flex;
  justify-content: space-between;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
}

.dropdown-button {
  display: table-cell;
  border-style: solid;
  border-color: rgb(93, 108, 155);
  color: black;
  font-size: 25px;
  padding: 5px 35px 5px 35px;
  background-image: url("menu background.jpg");
  cursor: pointer;
}
.dropdown-button-highlited {
  display: table-cell;
  border-style: solid;
  border-color: rgb(93, 108, 155);
  color: yellow;
  font-size: 25px;
  padding: 5px 35px 5px 35px;
  background-image: url("menu background.jpg");
}

.name {
  font-size: 35px;
  width: inherit;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-self: center;
}

.paragraph-div {
  width: 33%;
  margin: 0 auto;
  align-self: center;
}

#my-img {
  padding-top: 0;
}

.about-body {
  background-image: url("placeholder11.avif");
  background-size: cover;
}

.about-body > .summery {
  display: flex;
}
.about-body .info-paragraph {
  padding: 15px 15px 15px 15px;
}
.about-body .summery-label {
  padding: 15px 15px 15px 15px;
  font-size: 25px;
  font-weight: bolder;
  height: 100%;
  padding: 0 0 0 0;
  align-self: center;
  text-align: center;
}
.about-body .info-about-me {
  margin: 0 15px 0 15px;
  padding: 0 0 0 0;
}
.about-body > .name-label {
  font: 55px;
  height: fit-content;
  width: inherit;
}
.projects-body {
  background-image: url("placeholder3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.projects-body .flex-container {
  display: flex;
  padding: 30px;
}
.project-Btn {
  border-style: solid;
  border-color: rgb(93, 108, 155);
  color: black;
  height: inherit;
  font-size: 35px;
  padding: 0 15px 15px 15px;
  background-image: url("menu background.jpg");
  cursor: pointer;
}
.projects-body .projects-list {
  padding: 0 15px 0 15px;
}
.project-info {
  width: 50%;
  font-size: 35px;
  padding: 0 25px;
}
